 @import './Main.scss';

.cal-wrapper, .results-wrapper {
  border: 1px solid $border;
  background: $white;
  max-width: 750px;
  height: auto !important;
  @include border-radius(5px, 5px, 5px, 5px);
}

.cal-wrapper {
  margin: 30px auto;
}

.results-wrapper {
  margin: 0 auto 30px;
}
