 @import './Main.scss';

.cal-wrapper {
  border: 1px solid $border;
  background: $white;
  max-width: 750px;
  height: auto !important;
  margin: 30px auto;
  @include border-radius(5px, 5px, 5px, 5px);
}
