 @import './Main.scss';

.header-wrapper {
   text-align: center !important;
 }

h1, h2, h3, h4, h5, h6 {
  font-family: $open-sans;
  width: auto;
  font-weight: 400;
  text-align: left;
  display: inline-block;
  margin: 25px auto !important;
  padding: 3px 0;
  position: relative;
}

h1:after, h2:after, h3:after, h4:after, h5:after, h6:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  margin-left: 0;
  width: 15%;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: inherit;
}

h1 {
  font-size: 350%;
}

h2 {
  font-size: 300%;
}

h3 {
  font-size: 250%;
}

h4 {
  font-size: 200%;
}

h5 {
  font-size: 150%;
}

h6 {
  font-size: 100%;
}

.normal-heading {
  color: $heading-color;
}

.error {
  color: $error;
}
